* {
    margin: 0;
    padding: 0%;
    box-sizing: 0;
}

body {
    background: black;
}


/*section {
    background-image: url("image/homebg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    filter: blur(5px);
}*/

.container {
    height: 100px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

section {
    /*background-image: url("image/bgvideo.mp4");*/
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    filter: blur(5px);
}

.navbar {
    width: 130%;
    height: 10vh;
    display: flex;
    margin: auto;
    align-items: center;
    background: black;
}

nav {
    flex: 1;
    padding-left: 20%;
    margin-left: 30px;
}

.logo {
    width: 160px;
    height: 100px;
    cursor: pointer;
}

.container ul {
    display: inline-flex;
    list-style: none;
    color: black;
}

.container ul li {
    width: 150px;
    margin: 15px;
    padding: 15px;
    font-size: 21px;
}

.container ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.active,
.container ul li a:hover {
    color: #ff3c78;
}

.sub-menu-1 {
    display: none;
    z-index: 20;
}

.sub-menu-1:hover {
    background: #ff3c78;
    border-radius: 3px;
}

.container ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: black;
    margin-top: 15px;
    margin-left: 15px;
}

.container ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.container ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #ff3c78;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}

h1 {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    margin: 0;
}

.content {
    position: relative;
    bottom: 650px;
    left: 10%;
    transform: translate(-50px, -50px);
    z-index: 5;
    width: 45%;
    padding: 40px 0 40px 40px;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
    margin-right: 0%;
    margin-left: 0%;
}


/*.content h1 {
    font-size: 100px;
    font-weight: 100;
    font-variant: bold;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    color: aliceblue;
}

.content p {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.content {
    margin-top: 10%;
    margin-left: 10%;
}*/

.Description {
    background-color: black;
    text-align: center;
    margin-bottom: 120px;
}

h2 {
    margin-top: 120px;
    font-family: 'Cinzel', serif;
    font-variant: bold;
    color: white;
    font-size: 50px;
}

h2:hover {
    color: red;
}

p {
    font-family: 'Acme', sans-serif;
    font-variant: bold;
    font-size: 25px;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    word-spacing: 5px;
    color: white;
}

#img1 {
    width: 300px;
    height: 400px;
    margin-left: 250px;
    display: inline-flex;
    border-radius: 9% 9% 9% 9%;
}

.booking {
    font-family: 'Abril Fatface', cursive;
    font-size: 500%;
    text-align: center;
    color: white;
    word-spacing: 2vh;
}

.button {
    background-color: #ff3c78;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.footer {
    color: white;
    font-size: 4px;
    background: black;
}

.logoimg #logo {
    height: 300px;
    width: 300px;
    margin-left: 42%;
}

.footer h1 {
    text-align: center;
    font-size: 37px;
    font-weight: bold;
    word-spacing: 50px;
    margin-top: -95px;
}

.footer p {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.social-icon {
    margin: 30px auto;
    text-align: center;
}

.social-icon img {
    width: 30px;
    margin: 0 12px;
    cursor: pointer;
    border-radius: 50%;
}

.social-icon img:hover {
    box-shadow: 0 0 20px 0 #eeaeca;
}

.seperate {
    background-color: #ff3c78;
    width: 670px;
    height: 4px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 600px;
}

.footeradd {
    text-align: center;
    color: #fff;
    margin-top: 100px;
}